{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests assistant</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>
  <body class="test-add">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Tests Assistant</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
	  {% include "assistant/navigation.html" %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
	<h1>{{ run.title }}</h1>
	<h2>{{ run.version }}</h2>
	{% if not_run_count %}
	  {% if not_run_count == count %}
	    <a href="/run/detail/{{ run.pk }}/running"><button class="btn btn-success btn-block">Run this tests</button></a>
	  {% else %}
	    <a href="/run/detail/{{ run.pk }}/running"><button class="btn btn-success btn-block">Finish this run</button></a>
	  {% endif %}
	{% endif %}
	{% if count %}
	  <h1>{{ count }} tests in {{ total_time}}</h1>
	  <ul>
	    {% for instance in page.object_list %}
	      <li>
		<button class="btn btn-xs {% if instance.ended_at == None %}btn-default{% elif instance.success %}btn-success{% else %}btn-danger{% endif %}">
		  {% if instance.ended_at == None %}TO RUN{% elif instance.success %}OK{% else %}FAIL{% endif %}
		</button>
		<a href="/test/detail/{{ instance.test.pk }}">{{ instance.test.title }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	  <ul class="pager">
	    {% if page.has_previous %}
	      <li><a href="?page={{ page.previous_page_number }}">Previous</a></li>
	    {% endif %}
	    {% if page.has_next %}
	      <li><a href="?page={{ page.next_page_number }}">Next</a></li>
	    {% endif %}
	  </ul>
	{% else %}
	  <p>There is no tests in this run</p>
	  {% if current == run.pk %}
	    <p>This run is current you add tests in bulk with <a href="/">keywords</a> or use <a href="/search">search</a> and pick them one by one.</p>
	  {% elif current == None %}
	    <p>Set this run current with the button below, to be able to add it tests.</p>
	    <form method="POST">
	      {% csrf_token %}
	      <button class="btn btn-block btn-lg btn-success">Set this run current</button>
	    </form>
	  {% else %}
	    <p>This run is not current click the button below to make it current</p>
	    <form method="POST">
	      {% csrf_token %}
	      <button class="btn btn-block btn-lg btn-success">Set this run current</button>
	    </form>
	  {% endif %}
	{% endif %}
      </div>
    </div>
  </body>
</html>
