{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests assistant</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url "assistant-home" %}">Tests Assistant</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
	  {% include "assistant/navigation.html" %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
	<h1>Keywords <small>Select a keyword to filter with</small></h1>
	<div class="tags">
	  {% for tag in tags %}
	  <a href="{% url "test-filter" %}?tags={{ tag.pk }}" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> {{ tag.name }}</a>
	  {% endfor %}
	</div>	
      </div>
      <div class="col-md-6 col-md-offset-3">
	<h1>{{ count }} tests</h1>
	<ul>
	  {% for test in tests %}
	  <li><a href="{% url "test-detail" test.pk %}">{{ test.title }}</a></li>
	  {% endfor %}
	</ul>
	<ul class="pager">
	  {% if page.has_previous %}
	  <li><a href="?page={{ page.previous_page_number }}">Previous</a></li>
	  {% endif %}
	  {% if page.has_next %}
	  <li><a href="?page={{ page.next_page_number }}">Next</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
