<li><a href="/test/add"><span class="glyphicon glyphicon-edit"></span> Create Test</a></li>
<li><a href="/"><span class="glyphicon glyphicon-th-list"></span> List tests</a></li>
<li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search tests</a></li>
<li><a href="/run/add"><span class="glyphicon glyphicon-edit"></span> Create run</a></li>
<li><a href="/run/list"><span class="glyphicon glyphicon-th-list"></span> List runs</a></li>
<li><a href="/run/stats"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>


